ul {
    list-style-type: none;
}

ul.list{
    list-style-type: none;
    text-align: center;
}

ul.list li input{
    width: 250px;
    text-align: center;
    padding: 8px 0px;
    border: none;
    background-color: #d3d3d3;
    border-radius: 5px;
}
