
.column{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    z-index: -1;
}

.news_feed{
    margin: auto;
    z-index: -1;
    width: 70%;
    min-height: 150px;
}

.post_feed{
    width: 100%;
}

.post_feed textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    font-size: 12px;
    padding: 4px;
}

.post_feed input[type = "submit"]{
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-size: 90%;
    outline: 0;
}

.post_feed input[type = "submit"]:active{
    padding: 6px 4px 4px 6px;
}

.text_posted{
    width: 95%;
    font-size: 14px;
    min-height: 65px;
    padding: 0px 5px;
    cursor: pointer;
}

.post_comment{
    width: 95%;
    font-size: 14px;
    min-height: 65px;
    padding: 0px 5px;
}

.post_comment iframe{
    max-height: 500px;
    width: 100%;
}

.comment_section{
    padding: 4px 4px 4px 4px;
    min-height: 40px;
    font-size: 14px;
}

#comment_form textarea {
    width: 85%;
    min-height: 60px;
    border-radius: 6px;
    border-color: gray;
}

#comment_form input[type = "submit"] {
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-size: 90%;
    outline: 0;
}

#comment_form input[type = "submit"]:active{
    padding: 6px 4px 4px 6px;
}

.newsfeedOptions {
    text-decoration: none;
    color: dodgerblue;
    border: none;
}

.newsfeedOptions iframe {
    border: 0px;
    border-radius: 6px;
    height: 40px;
    width: 60px;
}

.newsfeedOptions form {
    position: absolute;
    top: 0px;
}


.comment_upvote {
    background-color: lightgray;
    font-family: FontAwesome;
    color: green;
    border: none;
    border-radius: 6px;
    padding: 6px 4px 4px 6px;
    margin: auto;
}

.upvote_value {
    display: inline;
}

.comment_downvote {
    background-color: lightgray;
    font-family: FontAwesome;
    color: red;
    border: none;
    border-radius: 6px;
    padding: 6px 4px 4px 6px;
    margin: auto;
}

.downvote_value {
    display: inline;
}

.welcome {
  position: relative;
  left: 50%;
}
