a{
    text-decoration: none;
    color: dodgerblue;;
}

.top_bar {
    width: 100%;
    min-width: 1000px;
    height: 45px;
    background-color: gray;
    border-bottom: 5px solid gray;
    margin: 0 0 10px 0;
    display: inline-flex;
}

.logo{
    font-family: sans-serif;
    font-size: 36px;
    margin: left;
    top: 10px;
    text-align: left;
    text-decoration: none;
}

.logo a{
    text-align: center;
    color: black;
    text-decoration: none;
}

nav{
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a{
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

nav a:hover{
    border-bottom: 5px solid black;
}

.column{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid gray;
    box-shadow: 2px 2px 2px gray;
    z-index: -1;
}

.news_feed{  
    margin: auto;
    z-index: -1;
    width: 70%;
    min-height: 150px;
}

.post_feed{
    width: 100%;
}

.post_feed textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border: 1px solid gray;
    font-size: 12px;
    padding: 4px;
}

.post_feed input[type = "submit"]{
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-size: 90%;
    outline: 0;
}

.post_feed input[type = "submit"]:active{
    padding: 6px 4px 4px 6px;
}

.text_posted{
    width: 95%;
    font-size: 14px;
    min-height: 65px;
    padding: 0px 5px;
    cursor: pointer;
}

.post_comment{
    width: 95%;
    font-size: 14px;
    min-height: 65px;
    padding: 0px 5px;
}

.post_comment iframe{
    max-height: 500px;
    width: 100%;
}

.comment_section{
    padding: 4px 4px 4px 4px;
    min-height: 40px;
    font-size: 14px;
}

#comment_form textarea {
    width: 85%;
    min-height: 60px;
    border-radius: 6px;
    border-color: gray;
}

#comment_form input[type = "submit"] {
    width: 10%;
    height: 30px;
    border: none;
    border-radius: 10px;
    background-color: lightgray;
    color: black;
    font-size: 90%;
    outline: 0;
}

#comment_form input[type = "submit"]:active{
    padding: 6px 4px 4px 6px;
}

.newsfeedOptions {
    text-decoration: none;
    color: dodgerblue;
    border: none;
}

.newsfeedOptions iframe {
    border: 0px;
    border-radius: 6px;
    height: 40px;
    width: 60px;
}

.newsfeedOptions form {
    position: absolute;
    top: 0px;
}


.comment_upvote {
    background-color: lightgray;
    font-family: FontAwesome;
    color: green;
    border: none;
    border-radius: 6px;
    padding: 6px 4px 4px 6px;
    margin: auto;
}

.upvote_value {
    display: inline;
}

.comment_downvote {
    background-color: lightgray;
    font-family: FontAwesome;
    color: red;
    border: none;
    border-radius: 6px;
    padding: 6px 4px 4px 6px;
    margin: auto;
}

.downvote_value {
    display: inline;
}

.search {
    margin: 10px 0 0 20%;
}

.search #search_input {
    border: thin solid black;
    height: 30px;
    width: 300px;
    border-radius: 6px;
    outline: none;
    float: left;
}

.search_button {
    border: thin solid black;
    cursor: pointer;
    float: left;
    height: 30px;
    text-align: center;
    border-radius: 6px;
    width: 30px;
    display: inline;
    color: black;
    background-color: lightgray;
}

.search_button i{
    margin-top: 7px;
    width: 25px;
    height: 25px;
}

.search_results {
    padding: 10px;
    width: 450px;
    height: 50px;
}

.search_results input[type = "submit"] {
    border: none;
    border-radius: 6px;
    background-color: lightgreen;
    cursor: pointer;
    height: 25px;
    width: auto;
}

.search_results_follow_button {
    float: right;
}

#search_results_hr{
    margin-bottom: 0px;
}

.user_results{  
    margin: auto;
    z-index: -1;
    width: 30%;
    min-height: 150px;
}


